services:
  app:
    image: oven/bun:latest
    ports:
      - "4321:4321"
    working_dir: /app
    command: sh -c "bun install && bun run dev -- --host 0.0.0.0"
    volumes:
      - ./:/app
      - node_modules:/app/node_modules
    environment:
      - NODE_ENV=development
    restart: unless-stopped

volumes:
  node_modules:
