---
import Layout from "@layouts/Layout.astro";
import Footer from "@components/Footer.astro";
import AboutMe from "@components/AboutMe.astro";
import Projects from "@components/Projects.astro";
import ContactMe from "@components/ContactMe.astro";
import Screen from "@components/Screen.astro";
import HomeHeader from "@components/HomeHeader.astro";

import "@styles/animate.css";
---

<Layout>
  <HomeHeader />
  <Screen />

  <main class="space-y-10 pt-10">
    <AboutMe />
    <Projects />
    <ContactMe />
  </main>
  <Footer />
</Layout>
