---
import Layout from "@/layouts/Layout.astro";
import HomeHeader from "@/components/HomeHeader.astro";
import Footer from "@/components/Footer.astro";
import PDFViewer from "@/components/PDFViewer.astro";
import { PROFILE } from "@/constants";
import LinkButton from "@/components/LinkButton.astro";
import Icon from "@/components/Icon.astro";
import Skeleton from "@/components/Skeleton.astro";

const { resumeName, resume } = PROFILE;
---

<Layout>
  <div>
    <HomeHeader />
    <main class="pt-14">
      <section class="space-y-2 py-4">
        <div class="flex gap-2">
          <LinkButton
            href={resume}
            download={resumeName}
            class="flex gap-1 rounded-md border px-3 py-2"
          >
            <Icon name="Download" class="size-6" />
            <span>Download</span>
          </LinkButton>
        </div>
        <div class="relative min-h-[800px] border">
          <PDFViewer file={resume} fileName={resumeName}>
            <Skeleton slot="fallback" />
          </PDFViewer>
        </div>
      </section>
    </main>
    <Footer />
  </div>
</Layout>
