---
import Contact from "./Contact.astro";
---

<section
  id="contact"
  class="lg:grid-cols-[1fr_6fr] grid scroll-mt-16 grid-cols-1 gap-x-10 gap-y-4"
>
  <label class="text-3xl font-bold lg:text-right"> CONTACT </label>
  <Contact />
</section>
