---
import LinkButton from "./LinkButton.astro";
import Icon from "@/components/Icon.astro";
---

<LinkButton href="/resume" class="flex gap-1 rounded-md border px-3 py-2">
  <Icon name="PDF" class="size-6" />
  <span>GetResume</span>
</LinkButton>
