---
import Button from "./Button.astro"
import {PDFFileIcon} from "./icons"
---


<Button>
    <a class="flex gap-1" href="/resume.pdf" target="_blank">
        <PDFFileIcon />
      GetResume
    </a>
  </Button>