---
import Button from "./Button.tsx"
import {Icon} from "./Icon"
---


<Button>
    <a class="flex gap-1" href="/resume">
        <Icon name="PDF" className="size-6" />
      GetResume
    </a>
  </Button>