---
import { PROJECTS } from "@config";
import Project from "./Project.astro";
---

<section
  id="projects"
  class="lg:grid-cols-desktop grid scroll-mt-16 grid-cols-1 gap-x-10 gap-y-4"
>
  <label class="text-3xl font-bold lg:text-right"> PROJECTS </label>
  <ul class="grid grid-cols-1 gap-2 sm:grid-cols-2">
    {PROJECTS.map(item => <Project {...item} />)}
  </ul>
</section>
