---
import Icon from "./Icon.astro"
import LinkButton from "@/components/LinkButton.astro";
import {SITE} from "@/config"
import { PROFILE } from "@/constants";

---

<div class="bg-muted w-full flex flex-col items-center justify-between sm:h-screen flex-shrink-0">
  <div class="min-h-14"></div>
  <div class="mt-12 mb-4 sm:mt-14 sm:mb-14 flex flex-col items-center gap-y-5 gap-x-10 sm:flex-row">
    <div class="sm:w-52 sm:h-52  h-24 w-24 rounded-full flex items-center overflow-hidden">
      <img class="w-full scale-150" src={PROFILE.avatar} alt="" />
    </div>
    <div class="space-y-2 text-center sm:text-left">
      <h2 class="text-2xl sm:text-4xl animate__animated animate__fadeInUp animate__delay-1s">
        <span>Hi, I'm { SITE.author } </span>
        <span class="inline-block animate-wave">👋</span>
      </h2>
      <h3 class="text-lg sm:text-lg animate__animated animate__fadeInUp animate__delay-2s">
        { PROFILE.synopsis }
      </h3>
      <LinkButton
        class="text-2xl sm:text-4xl hover:text-skin-accent underline underline-offset-4 decoration-dashed animate__animated animate__fadeInUp animate__delay-3s"
        href="/posts">Blogs</LinkButton>
    </div>
  </div>
  <a href="#about-me" class="animate-bounce pb-2 sm:block">
    <Icon name="ArrowDown" class="size-6 stroke-1" />
  </a>
</div>